/* ===== PREMIUM PLAN ===== */

.pricing{
    width:90%;
    max-width:900px;
    margin:40px auto 80px;
}

.plan-card{
    position:relative;
    background:#161f35;
    border:1px solid rgba(0,255,180,.25);
    border-radius:28px;
    padding:32px 24px;
    margin:40px auto;
    max-width:420px;
    text-align:center;
    box-shadow:
        0 0 30px rgba(0,180,255,.15),
        0 25px 60px rgba(0,0,0,.45);
}

.plan-card::before{
    content:"";
    position:absolute;
    inset:0;
    border-radius:inherit;
    padding:1px;
    background:linear-gradient(135deg,#00ff99,#2b82ff);
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite:xor;
}

.best-value{
    position:absolute;
    top:-14px;
    left:50%;
    transform:translateX(-50%);
    background:linear-gradient(90deg,#ff9800,#ff3d00);
    color:#fff;
    padding:8px 18px;
    border-radius:999px;
    font-size:13px;
    font-weight:700;
}


.plan-flag{
    width:52px;
    height:52px;
    display:block;
    margin:12px auto 20px;
    border-radius:50%;
}
   
.plan-card h2{
    color:#fff;
    margin:0;
    font-size:34px;
}

.plan-desc{
    color:#9fa9c5;
    margin:12px 0 22px;
}

.plan-price{
    color:#00ff88;
    font-size:56px;
    font-weight:800;
    line-height:1;
    margin:28px 0;
    text-shadow:0 0 20px rgba(0,255,136,.25);
}

.plan-price span{
    font-size:20px;
    font-weight:700;
    margin-left:6px;
}

.plan-item{
    display:flex;
    justify-content:space-between;
    padding:14px 0;
    border-bottom:1px solid rgba(255,255,255,.08);
    color:#dfe6ff;
}

.buy-btn{
    width:100%;
    margin-top:28px;
    padding:18px 20px;

    border:none;
    border-radius:18px;

    background:linear-gradient(135deg,#00E676,#00C853);

    color:#fff;

    font-size:18px;
    font-weight:700;
    letter-spacing:.5px;

    cursor:pointer;

    transition:all .3s ease;

    box-shadow:
        0 10px 30px rgba(0,230,118,.35);

    position:relative;
    overflow:hidden;
}

   .buy-btn:hover{
    transform:translateY(-3px);

    box-shadow:
        0 15px 40px rgba(0,230,118,.5);
}

.buy-btn::before{
    content:"";

    position:absolute;

    top:0;
    left:-120%;

    width:60%;
    height:100%;

    background:linear-gradient(
        90deg,
        transparent,
        rgba(255,255,255,.25),
        transparent
    );

    transform:skewX(-25deg);

    transition:.8s;
}

.buy-btn:hover::before{
    left:160%;
}

/* Desktop */
@media (min-width:768px){

    .pricing{
        display:flex;
        justify-content:center;
        padding:40px 20px;
    }

    .plan-card{
        width:430px;
        max-width:430px;
        margin:0 auto;
    }

}
